In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/Iris.csv")
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [ ]:
# one-hot encoding
y = pd.get_dummies(df["Species"])
y

     Iris-setosa  Iris-versicolor  Iris-virginica
0              1                0               0
1              1                0               0
2              1                0               0
3              1                0               0
4              1                0               0
..           ...              ...             ...
145            0                0               1
146            0                0               1
147            0                0               1
148            0                0               1
149            0                0               1

[150 rows x 3 columns]

In [ ]:
x = df.drop(["Id","Species"],axis=1)
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [ ]:
# split our dataset
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [ ]:
x_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
115            6.4           3.2            5.3           2.3
63             6.1           2.9            4.7           1.4
28             5.2           3.4            1.4           0.2
55             5.7           2.8            4.5           1.3
30             4.8           3.1            1.6           0.2
..             ...           ...            ...           ...
10             5.4           3.7            1.5           0.2
95             5.7           3.0            4.2           1.2
6              4.6           3.4            1.4           0.3
121            5.6           2.8            4.9           2.0
16             5.4           3.9            1.3           0.4

[105 rows x 4 columns]

In [ ]:
y_train

     Iris-setosa  Iris-versicolor  Iris-virginica
115            0                0               1
63             0                1               0
28             1                0               0
55             0                1               0
30             1                0               0
..           ...              ...             ...
10             1                0               0
95             0                1               0
6              1                0               0
121            0                0               1
16             1                0               0

[105 rows x 3 columns]

In [ ]:
# creating our model --> MULTILAYER PERCEPTRON

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
model = Sequential()
model.add(Dense(6,activation="sigmoid"))  # Hidden layer
model.add(Dense(3,activation="softmax")) # Output layer

model.compile(loss="categorical_crossentropy",metrics=["accuracy"])
model.fit(x_train,y_train,epochs= 25 , batch_size= 5)

Epoch 1/25
21/21 [==============================] - 3s 3ms/step - loss: 1.7863 - accuracy: 0.3333
Epoch 2/25
21/21 [==============================] - 0s 3ms/step - loss: 1.6515 - accuracy: 0.3333
Epoch 3/25
21/21 [==============================] - 0s 3ms/step - loss: 1.5448 - accuracy: 0.3333
Epoch 4/25
21/21 [==============================] - 0s 3ms/step - loss: 1.4445 - accuracy: 0.3333
Epoch 5/25
21/21 [==============================] - 0s 3ms/step - loss: 1.3586 - accuracy: 0.3333
Epoch 6/25
21/21 [==============================] - 0s 3ms/step - loss: 1.2842 - accuracy: 0.3333
Epoch 7/25
21/21 [==============================] - 0s 3ms/step - loss: 1.2233 - accuracy: 0.3333
Epoch 8/25
21/21 [==============================] - 0s 3ms/step - loss: 1.1697 - accuracy: 0.3333
Epoch 9/25
21/21 [==============================] - 0s 4ms/step - loss: 1.1290 - accuracy: 0.3333
Epoch 10/25
21/21 [==============================] - 0s 3ms/step - loss: 1.0955 - accuracy: 0.4476
Epoch 11/25
21/21 [==============================] - 0s 3ms/step - loss: 1.0647 - accuracy: 0.5905
Epoch 12/25
21/21 [==============================] - 0s 2ms/step - loss: 1.0399 - accuracy: 0.6476
Epoch 13/25
21/21 [==============================] - 0s 3ms/step - loss: 1.0205 - accuracy: 0.6571
Epoch 14/25
21/21 [==============================] - 0s 3ms/step - loss: 1.0024 - accuracy: 0.6571
Epoch 15/25
21/21 [==============================] - 0s 3ms/step - loss: 0.9861 - accuracy: 0.6571
Epoch 16/25
21/21 [==============================] - 0s 3ms/step - loss: 0.9714 - accuracy: 0.6571
Epoch 17/25
21/21 [==============================] - 0s 3ms/step - loss: 0.9573 - accuracy: 0.6571
Epoch 18/25
21/21 [==============================] - 0s 2ms/step - loss: 0.9450 - accuracy: 0.6571
Epoch 19/25
21/21 [==============================] - 0s 3ms/step - loss: 0.9325 - accuracy: 0.6571
Epoch 20/25
21/21 [==============================] - 0s 3ms/step - loss: 0.9195 - accuracy: 0.6571
Epoch 21/25
21/21 [==============================] - 0s 3ms/step - loss: 0.9077 - accuracy: 0.6571
Epoch 22/25
21/21 [==============================] - 0s 3ms/step - loss: 0.8951 - accuracy: 0.6571
Epoch 23/25
21/21 [==============================] - 0s 3ms/step - loss: 0.8836 - accuracy: 0.6571
Epoch 24/25
21/21 [==============================] - 0s 3ms/step - loss: 0.8723 - accuracy: 0.6571
Epoch 25/25
21/21 [==============================] - 0s 3ms/step - loss: 0.8603 - accuracy: 0.6571

In [ ]:
score = model.evaluate(x_test,y_test)
print("ACCURACY : ",score)

2/2 [==============================] - 0s 8ms/step - loss: 0.8300 - accuracy: 0.6889
ACCURACY :  [0.8299992680549622, 0.6888889074325562]

In [ ]:
df.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
y.head(5)

   Iris-setosa  Iris-versicolor  Iris-virginica
0            1                0               0
1            1                0               0
2            1                0               0
3            1                0               0
4            1                0               0

In [ ]:
i = model.predict([[5.1,3.5,1.4,0.2]])
i

array([[0.5674825 , 0.24086782, 0.19164968]], dtype=float32)